.auth-form__submit-btn {
  background-color: white;
  color: black;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 14px 0;
  margin-top: 221px;
  cursor: pointer;
}