.popup__error {
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: red;
  visibility: hidden;
  min-height: 30px;
  margin-top: 5px;
}

.popup__error:last-of-type {
margin-bottom: 18px;
}