.auth-form__input {
  background: none;
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 17px;
  color: #ccc;
  padding-bottom: 8px;
  outline: none;
}

.auth-form__input:last-of-type {
  margin-bottom: 0;
}