.popup__container {
  background-color: white;
  width: 430px;
  border-radius: 10px;
  position: relative;
  padding: 34px 36px 37px;
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  .popup__container {
    width: 282px;
    padding: 25px 21px;
  }
}