.popup__close-btn {
  width: 32px;
  height: 32px;
  border: none;
  background-color: none;
  background: url(../../../images/popup-close.svg) no-repeat center / cover;
  position: absolute;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 720px) {
  .popup__close-btn {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}