.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(84,84,84, .7);
  padding-bottom: 37px;
}

@media screen and (max-width: 950px) {
  .header {
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 23px;
  }
}